# Archivos de compilación y dependencias
target/
build/
out/
*.class

# Configuración local de IDEs
.idea/
.vscode/
*.iml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local y secretos
.env
*.local
